# Aplicacao
APP_HOST=0.0.0.0
APP_PORT=8080
APP_ENV=prod
REQUEST_TIMEOUT_SECONDS=10
REFRESH_DEFAULT_SECONDS=30
SF_REPORT_CACHE_SECONDS=120
SF_HTTP_RETRY_TOTAL=3
SF_HTTP_RETRY_BACKOFF_SECONDS=0.8
SF_TOKEN_TTL_SECONDS=900
SF_TOKEN_RENEW_SKEW_SECONDS=60

# Salesforce OAuth JWT Bearer Flow
SF_LOGIN_URL=https://login.salesforce.com
SF_CONSUMER_KEY=YOUR_CONNECTED_APP_CONSUMER_KEY
SF_CONSUMER_SECRET=YOUR_CONNECTED_APP_CONSUMER_SECRET
SF_USERNAME=integration.user@yourcompany.com
SF_PRIVATE_KEY_PATH=E:\PROJETOS DEV\Painel tv\certs\server.key
SF_API_VERSION=v59.0

# Relatorios
SF_REPORT_1_ID=00OU6000004ouzCMAQ
SF_REPORT_2_ID=00OU6000004ouzDMAQ
SF_REPORT_3_ID=00OU6000004mDGoMAM
